# .gitignore

admin-*/
admin/debug*/
admin/release*/
admin/moc_*.cpp
admin/admin


DesktopUI/debug*/

desktopui-*/

ui_*.h
*.qm

Makefile*
*.user*

*.bak
*.tmp
*~

*.autosave

*.Debug
*.Release


*Qt_SDK*
*build*
*.a
*.so
*.so*
*.o
*.dll
*.lib

latex
html

